<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pawfection"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VetAppointmentListItem"
            android:exported="false" />
        <activity
            android:name=".VetAppointmentsViewAppointments"
            android:exported="false" />
        <activity
            android:name=".PetLoverEditProfilePetProfile"
            android:exported="false" />
        <activity
            android:name=".PetLoverEditProfileAddPet"
            android:exported="false" />
        <activity
            android:name=".PetLoverEditProfile"
            android:exported="false" />
        <activity
            android:name=".PetLoverPetSetUpReminder"
            android:exported="false" />
        <activity
            android:name=".VetAppointmentsSetUpForm"
            android:exported="false" />
        <activity
            android:name=".VetAppointmentsSetUpReminder"
            android:exported="false" />
        <activity
            android:name=".PetLoverVetAppointmentsVetProfile"
            android:exported="false" />
        <activity
            android:name=".PetLoverShopCategories"
            android:exported="false" />
        <activity
            android:name=".PetLoverVetAppointmentsVetsList"
            android:exported="false" />
        <activity
            android:name=".PetLoverVetAppointmentsCity"
            android:exported="false" />
        <activity
            android:name=".NewLostPetAlert"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordReset"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordCode"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordEmail"
            android:exported="false" />
        <activity
            android:name=".VetNavigationDrawerBase"
            android:exported="false" />
        <activity
            android:name=".VetLostPetAlert"
            android:exported="false" />
        <activity
            android:name=".PetLoverNavigationDrawerBase"
            android:exported="false" />
        <activity
            android:name=".PetLoverLostPetAlert"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>